.container
  .row
    .span3
      = link_to(image_tag('/assets/ESIBytes.jpg'), 'http://www.esibytes.com')
      .page-text
        %br/
        %p.legible
          %em &ldquo;The quality of the free -- and advertisement-free -- content is first rate and the discussions are, as you might expect, animated and fun.&rdquo;
          %br/ 
          == - #{link_to "Forbes	Oct 18, 2011", "http://www.forbes.com/sites/benkerschberg/2011/10/18/six-savvy-law-technology-resources/"}
        %p.legible Podcast content is created by and hosted by Karl Schieneman, Esq., founder of Review Less.
        %p.legible== Why pay others to listen to e-discovery webinars? Subscribe to #{link_to "ESIBytes", "http://www.esibytes.com"} and get top notch education for free from top industry experts which you can listen to at your own pace.   
    -# .span9
    -#   #gallery.gallery-container
    -#     = image_tag '/assets/image1.jpg', :class => 'gallery-image', :alt => 'Saving Money', :rel => education_url
    -#     = image_tag '/assets/image2.jpg', :class => 'gallery-image', :alt => "Why we're different", :rel => predictive_coding_url
    -#     = image_tag '/assets/image3.jpg', :class => 'gallery-image', :alt => 'Hiring Process', :rel => podcasts_url
    -#     = image_tag '/assets/image4.jpg', :class => 'gallery-image', :alt => 'Document Review', :rel => document_review_url
      %br/
      .page-text
        %h3 Review Less has been at the forefront of creative approaches to make E-Discovery better, faster and cheaper since its inception in 2011.    
        %br
        %p.legible
          The cornerstone of Review Less is not technology. It's about improving document review workflows and sourcing the best and brightest document review attorneys 
          in the country into small, agile teams.
        %p.legible 
          Myth 1 in E-Discovery is you must use TAR (Technology Assisted Review) to reduce the costs of review.  We have found that by doing a review right the first time with less 
          second pass review time and lower cost is in everyone’s best interest -- and requires no predictive coding.  
        %p.legible
          Our review teams are comprised of attorneys who are typically fixing the mistakes of the body shops' first pass reviews.  
          We have unique workflows and methodologies that enable review to be done right the first time.  
        %p.legible 
          Using these techniques in the Garlock Asbestos Bankruptcy case, where Karl Schieneman was Special Master, resulted in a million dollar savings 
          in the document review aspect of the case, which had over a billion dollars of claims at issue and was covered in LTN as a highly successful use of 
          Special Masters.  
        %p.legible 
          Click 
          = link_to 'here', contact_path 
          if you have experienced the pain and expense of a never-ending document review project and would like more information.  
        %p.legible 
          Review Less is well established in the TAR or predictive coding space as one of the first highly visible users in 2012’s highly successful Global Aerospace case, 
          which was subsequently covered by the Wall Street Journal.  We co-authored a highly cited law review article on how Rule 26(g) interplays with TAR, 
          and a successful self-created and funded CLE tour of the country in 2013 alongside some of the top judges and e-discovery lawyers in the country.  
        %p.legible 
          Click 
          = link_to 'here', 'http://www.theediscoveryblog.com/category/technology-assisted-review-2/'
          if you’d like more information on TAR.  
