.container
  .row
    .span3
      = render :partial => 'shared/bio_links'
    .span9.page-text
      = image_tag '/assets/karl.png'
      %br/
      = mail_to 'kas@reviewless.com'
      %br/
      O: 412-486-8606
      %br/
      C:  412-992-7526
      %br/
      %br/
      %p== <strong>Karl Schieneman, Esq./MBA</strong> the President and Owner of Review Less is a Pittsburgh based electronic discovery consultant who focuses on predictive coding and analytical review, designing workflow, and recruiting tested document review attorneys.  He assists companies nationally with implementing predictive coding in a defensible manner and works with law firms nationally in litigation with drafting predictive coding protocols and creating workflows.   Some examples of recent projects include assisting a multinational corporation with analyzing different predictive coding tools for implementation in a bake off exercise with redundant ESI from an old case, assisting a 50,000 employee Pennsylvania corporation with creating a defensible workflow for predictive coding, serving as an expert in a $30 billion securities litigation to assist a party with negotiating the terms of a predictive coding protocol, and served as an expert in the Global Aerospace case in Virginia, the first decision in the country where a party received an order supporting the use of predictive coding despite the objections of the other party.  He is also a Special Master in the W.D. of Pennsylvania Special Master Pilot Program for Electronic Discovery.
      %h1 PREDICTIVE CODING TRAINING & E-DISCOVERY TRAINING
      %br/
      %ul
        %li Trained dozens of judges on advanced analytic review tools including Judge Peck (Da Silva Moore case), Judge Paul Grimm (D.Ct. Md), Judge Shira Scheindlin (S.D. NY), Judge James Francis (S.D. NY), Judge Frank Maas (S.D. NY), and many judges in the W.D. of Pennsylvania including Judge Joy Flowers Conti and Nora Barry Fischer, principle architects of the W.D. of PA's Special Master Program for E-Discovery.  
        %li Presented firm wide litigation group CLE programs and Predictive Coding training sessions with prominent litigation law firms such as Bartlit Beck; Schnader Harrison; and Ulmer Berne.  
        %li Known nationally as the host of www.ESIBytes.com, the country's largest collection of free E-Discovery podcasts; 
        %li The creator of www.DocReviewMD.com, a blog site focused on improving document review process with predictive coding tools, and is a predictive coding contributor for the eDiscoveryJournal.com. 
        %li Assisted the 7th Circuit E-Discovery Pilot program by drafting an overview piece describing predictive coding approaches and served in their CLE presentation hosted by judiciary in the 7th Circuit and is on the 7th Circuit's Technology Committee.  
        %li He also moderated and created panels in July at the Carmel Valley E-Discovery Retreat including the main presentation at the conference, a judicial panel hand selected by Karl on predictive coding from the judiciaries perspective with Judge Peck (S.D. of NY), Judge Facciola (DC), Judge Waxse (Kansas), Judge Fischer (W.D. of PA), and Judge Maas (S.D. of NY) followed by a bookend panel of power users of predictive coding with Tom Gricks (Schnader Harrison - Global Aerospace case), David Lewis (Computer Scientist expert in Kleen Products), Maura Grossman (Wachtell Lipton & co-coordinator of the Legal Track of the National Institute of Standards and Technology's Text Retrieval Conference), Herb Roitblat (OrcaTec & Chairman E-Discovery Institute), and Bennett Borden (Williams Mullen & Vice chair of the E-discovery and Digital Evidence Committee of the ABA, and Editor-in-Chief of The Sedona Conference's Cloud Computing Commentary).    
      %br/
      %center
        = image_tag '/assets/judge_peck.png'
        %br/
        %em Judge Peck (Da Silva Moore case & S.D of NY), Judge Fischer (E-Discovery Special Master W.D. of PA. Pilot Program & W.D. of PA) and Karl Schieneman in Carmel, California
        %br/
        %br/
        %em Judicial Perspectives on Predictive Coding Panel
        %br/
      %ul
        %li In October Karl was invited to speak at the Duke Conference on Predictive Coding in front of the Federal Rules Advisory Committee to discuss the impact of predictive coding on the amendments to the Federal Rules on E-Discovery regarding preservation and spoliation sanctions.
        %li He has also assisted or established local E-Discovery networking groups in Pittsburgh, Cleveland, Nashville, Minneapolis and Indianapolis in conjunction with established networking groups in Cincinnati and Columbus under the heading of www.friendsofediscovery.com.       
        %li Created StaffRite&copy; ROI software for modeling document review projects in 2002 with Norm Clark, an Altman Weil consultant.
        %li Created ReviewRight<sup>TM</sup>, a web based document review recruiting and testing tool to assist in recruiting document review attorneys and identifying metrics on candidates before they are hired.  
      %h1 PROFESSIONAL AND LEGAL BACKGROUND
      %br/
      %p Over the course of his 18 year legal career, Karl has worked with E-Discovery technology at JurInnov, pioneered the use of contract attorneys nationally as the founder of Pittsburgh based Legal Network, which was acquired by Special Counsel, and practiced law at Pittsburgh based Marcus & Shapira.  He received an MBA from Carnegie Mellon University and graduated on Law Review and Cum Laude from the University of Pittsburgh School of Law.   Some of his past honors include receiving an <strong>Ernst & Young Entrepreneur of the Year Award</strong> in 2004, a <strong>Vestige Award for Most Innovative Use of ESI</strong> in 2008 and has been involved with <strong>Seven</strong> <em>Inc 5000 Award</em> Winning Companies in 7 years with three different companies.
      %br/
      %h1 SELECT DOCUMENT REVIEW AND PREDICTIVE CODING ORIENTED ESIBYTES PODCASTS
      %br/
      == #{link_to 'Waiving Work Product with Predictive Coding', 'http://www.esibytes.com/?p=2324'}. Taped with Jeff Fowler, O'Melveny Myer's Chair of their E-Discovery Group.  Recorded on September 17th, 2012.     
      %br/
      == #{link_to 'Rand Institute Study on Electronic Discovery Review Costs and Predictive Coding', 'http://www.esibytes.com/?p=2220'}. Recorded on June 21, 2012 with Nicholas Pace from the Rand Institute.  Recorded on June 21, 2012.  
      %br/
      == #{link_to 'Predictive Coding and Review Roundtable', 'http://www.esibytes.com/?p=2185'}. Warwick Sharp, Co-founder of Equivio, Jim Wagner, Co-Founder of Discover Ready, and Tom Gricks, head of E-Discovery with Schnader Harrison Segal & Lewis discuss different predictive coding workflows and the differences between the various types of tools.  Recorded on March 26, 2012.
      %br/
      == #{link_to 'Validating Predictive Coding, Da Silva Moore Case and Other Current Issues', 'http://www.esibytes.com/?p=2177'}. Show with Herb Roitblat, Chief Scientist of OrcaTec and Chairman of the Electronic Discovery Institute on the state of the Da Silva Moore case in the S.D. of NY and validating predictive coding approaches which could be used in that case.  Recorded on March 22, 2012.
      %br/
      == #{link_to "Three Judges' Perspectives on Predictive Coding Based on Recent Training", 'http://www.esibytes.com/?p=2164'}. Shows with three judges in the W.D. of PA (Judges Joy Flowers Conti, Nora Barry Fischer, and Mark Hornak on Judicial Training in the W.D. using Predictive Coding and their reaction to the training.  Recorded on Feb. 14, 2012.
      %br/
      == #{link_to "The Three Judges' Holiday Show: Perspectives on Machine Assisted Review", 'http://www.esibytes.com/?p=2122'}. A show with three judges from the S.D. of NY, Judges Andrew Peck, Frank Maas and James Francis and their views that predictive coding should be used more by parties. Recorded on January 11, 2012.     
      %br/
      == #{link_to 'E-Discovery Search and Retrieval and is Human Review the Gold Standard?', 'http://www.esibytes.com/?p=1955'}. Maura Grossman, head of E-Discovery at Wachtell Lipton and co-Chair of the TREC studies and Professor Gordon Cormack, Professor of Information Retrieval from the University of Waterloo and TREC coordinator, discuss challenges with human review in E-Discovery.  Recorded on July 7, 2011.
      %br/
      == #{link_to 'E-Discovery versus E-Disclosure - How the English Handle E-Discovery', 'http://www.esibytes.com/?p=1845'}. Senior Master Stephen Whitaker and the head of the e-Disclosure project Chris Dale talk about how analytics are used in the UK and provide an overview of the Goodale v Ministry of Justice case (2009), where Senior Master Whitaker proposed for the first time that the parties use analytic tools to categorize documents and reduce the burdens of document review.  Recorded on April 4, 2011.
      %br/
      == #{link_to "Using Predictive Coding:  What's In the Black Box?", 'http://www.ESIBytes.com/?p=1649'}. Podcast with world renowned computer scientist Professor Jaime Carbonell from Carnegie Mellon's Machine Enabled Learning Institute, Herb Roitblat, Chief Scientist from OrcaTec and Chairman of the Electronic Discovery Institute, and Carnegie Mellon computer scientist entrepreneur Vasco Pedro on the strengths and weaknesses of technology for doing large scale review.  Recorded on February 23, 2011.
      %br/
      == #{link_to 'Agreeing on Key Words, the Tooth Fairy and Other Myths', 'http://www.esibytes.com/?p=1499'}. Alexandra Chopin, head of E-Discovery at Patton Boggs; Brendan Schulman, head of E-Discovery at Kramer Levins; James Batson, plaintiff lawyer at Liddler & Robinson; and Brian Pandya, intellectual property attorney at Wiley Rein, discuss their practical real world experiences with using key word searches and how challenging it can be to find ESI using this tool.  Recorded on September 15, 2010.
      %br/
      == #{link_to 'Will Judges Think It Is Okay to Use Clustering and Suggestive Coding Tools?', 'http://www.ESIBytes.com/?p=1572'}. Covered analytical review challenges and defensibility issues with Magistrate Judges Paul Grimm (District of Md) and John Facciola (District of Columbia District Court) where they outlined some potential processes for gaining judicial acceptance of using computer assisted review techniques.  Additional guests are Maura Grossman, head of E-Discovery at Wachtell Lipton and Chris Dale, head of the United Kingdom's e-Disclosure Project.  Recorded February 20, 2010.
      %br/
      == #{link_to 'E-Discovery From the Trenches - What A Contract Attorney Sees', 'http://www.esibytes.com/?p=1044'}. "Philip", an anonymous contract attorney is interviewed about the flaws in training and management which occur in traditional linear review projects.  Recorded December 7, 2009.
      %br/
      == #{link_to 'Search and Retrieval Tips From The Bench', 'http://www.esibytes.com/?p=242'}. Magistrate Judge Paul Grimm (District of Md) and JurInnov CEO Tim Opsitnick discuss the challenges of linear review and the need for the legal community to attempt to improve the document review process.    Recorded on June 9, 2009.
      %br/
      == #{link_to 'Beyond Key Word Searching in E-Discovery', 'http://www.esibytes.com/?p=333'}. Jason Baron, a co-founder of TREC and the Director of Litigation in the Office of the General Counsel National Archives and Record Administration is interviewed on why the legal community must move away from key word searching because of scalability issues.  Recorded April 28, 2009.
      %br/
      %br/
      %h1 BLOG POSTS
      %br/
      == #{link_to 'www.eDiscoveryJournal.com', 'www.eDiscoveryJournal.com'} - Blog Site for EDJ Consulting
      %ul
        %li== #{link_to 'Judicial Activism With Predictive Coding All In The Name of "Just", "Speedy" and "Inexpensive" Discovery', 'http://ediscoveryjournal.com/2012/10/judicial-activism-with-predictive-coding-all-in-the-name-of-just-speedy-and-inexpensive-discovery/'} - Observations on Delaware Chancery Court ordering the use of predictive coding. 
        %li== #{link_to 'Predictive Coding Metrics are For Weenies Part 1', 'http://ediscoveryjournal.com/2012/10/predictive-coding-metrics-are-for-weenies-part-i/'} - 4 part series observing the mindless debate over establishing metrics before using predictive coding.
        %li= link_to 'The "E"s of Predictive Coding Part 1', 'http://ediscoveryjournal.com/2012/10/the-ease-of-predictive-coding-part-one/'
        %li== #{link_to 'The "E"s of Predictive Coding Part 2', 'http://ediscoveryjournal.com/2012/10/the-ease-of-predictive-coding-part-two/'} - Discussions on the lack of expertise with predictive coding replaced by entrepreneurs.
        %li= link_to 'There Is a 96% Similarity Between Records Managers and Lawyers - Observations from the ARMA Conference', 'http://ediscoveryjournal.com/2012/09/there-is-a-96-similarity-between-records-managers-and-lawyers-observations-from-arma-conference/'
        %li== #{link_to 'Kleen Products Predictive Coding Epitaph', 'http://ediscoveryjournal.com/2012/08/kleen-products-predictive-coding-epitaph/'}. Cleaning up the misguided thoughts that Kleen Products failures means predictive coding has suffered a set back.
        %li== #{link_to 'www.DocReviewMD.com', 'www.DocReviewMD.com'} <strong>Review Less Blog Site</strong>
        %ul
          %li= link_to "Da Silva Moore + Kleen = It's All About the Math", 'http://docreviewmd.com/da-silva-moore-kleen-its-all-about-the-math/'
          %li= link_to 'Kleen Hearing Day 2 - The Battle of Boolean Searches versus Sampling and Predictive Coding and Attacking Expert Witnesses', 'http://docreviewmd.com/kleen-hearing-day-2-the-battle-of-boolean-searches-versus-sampling-and-predictive-coding-and-attacking-expert-witnesses/'
          %li= link_to 'Contrasting Da Silva Moore and Kleen Predictive Coding Cases Part 2', 'http://docreviewmd.com/contrasting-da-silva-moore-and-kleen-predictive-coding-cases-part-2/'
          %li= link_to "Da Silva Moore Plaintiff's Misguided Attack on Judge Peck", 'http://docreviewmd.com/da-silva-moore-plaintiffs-misguided-attack-on-judge-peck/'
          %li= link_to 'Contrasting Da Silva Moore and Kleen Predictive Coding Cases', 'http://docreviewmd.com/contrasting-da-silva-moore-and-publicis-groupe-predictive-coding-cases/'
          %li= link_to 'The Impending Vendor Versus Law Firm Ethical Battle When Predictive Coding Is Used', 'http://docreviewmd.com/the-impending-vendor-versus-law-firm-ethical-battle-when-predictive-coding-is-used/'
          %li= link_to 'Predictive Coding Material Presented at LegalTech 2012', 'http://docreviewmd.com/predictive-coding-material-presented-at-legaltech-2012/'
          %li= link_to 'Occupy LegalTech Protest Makes LTN', 'http://docreviewmd.com/occupy-legaltech-protest-makes-ltn/'
          %li= link_to 'Positive Examples of Legal Hydra', 'http://docreviewmd.com/positive-examples-of-legal-hydra/'
          %li= link_to 'New York Model Electronic Discovery Order Podcast Provides Advice For Search Disputes', 'http://docreviewmd.com/new-york-model-electronic-discovery-order-podcast-provides-advice-for-search-disputes/'
          %li= link_to 'Epiq and De Novo Legal Transaction: Hold The Presses', 'http://docreviewmd.com/epiq-and-de-novo-legal-transaction-hold-the-presses/'
      %h1 ARTICLES
      %br/
      %ul
        %li What's New In E-Discovery. Employment Law Institute West, November 8, 2012.  Draft Chapter Submitted to PBI to be presented Nov. 8th, 2012 with Judge Nora Barry Fischer from the W.D. of PA and Rick Lettieri as Co-Authors including a section on Predictive Coding.
        %li Super Reviews Evolution Can Be A Good Thing.  BNA's Digital Discovery & e-Evidence.  May 10, 2012.
        %li== #{link_to 'Legal Hydra Top 10 Tips To Becoming Proficient With Machine-Assisted Review', 'http://www.forbes.com/sites/benkerschberg/2012/01/13/legal-hydra-top-ten-tips-to-become-more-proficient-with-machine-assisted-review/'}, Forbes, January 13, 2012 by Karl Schieneman.
        %li Top 10 Tips Coding Mistakes and How to Avoid Them.  BNA's Digital Discovery & e-Evidence.  October 27, 2011 by Karl Schieneman.
        %li PBI Electronic Discovery Versions 1 and 2  Can You Project Manage Electronic Discovery?  Pennsylvania Bar Institute.  August 2008 and 2011.
        %li Managing Lots of Bodies, Rising Temperatures, Malfunctioning Technology, and Other Issues Associated with Electronic Discovery War Rooms, Digital Discovery & e-Evidence, April 2006, by Karl Schieneman.
        %li Paradigm Shift in Legal Management Practices, Cleveland Bar Journal, October 2005, by Karl Schieneman.
        %li People First, Corporate Counsel Magazine, October 2005, by Karl Schieneman
        %li Don't Forget People Power, The Legal Times, August 15, 2005 by Karl Schieneman
        %li Process Managing Electronic Discovery, The Metropolitan Corporate Counsel, August 2005, by Karl Schieneman 
        %li An Insider's Perspective on Best Practices in Interim Legal Staffing, Lawyer's Journal, February 18, 2005, by Karl Schieneman 
        %li Buried In Paper, The Legal Times, June 28 2004 by Karl Schieneman and Norman Clark.
        %li Law Firms Address Compensation Issues, Lawyers Journal, November 3, 2000 by Karl Schieneman.
        %li The Emperor's New Clothes: An Analysis of the Increasing Salary Structure at Large Law Firms, Lawyers Journal, August 11, 2000 by Karl Schieneman.
        %li Legal Staffing For the New Millenium, Pennsylvania Bar News, February 7, 2000 by Karl Schieneman.
        %li Legal Malpractice and the Contract Attorney, Lawyers Journal, December 17, 1999 by Karl Schieneman.
        %li Billing Clients For a Contracxt Attorney's Time, Pittsburgh Legal Journal, March 4, 1999 by Karl Schieneman.
        %li Pittsburgh's Use of Contract Attorneys: A Journal From Legal Network, Pittsburgh Legal Journal, March, 1997 by Karl Schieneman.
        %li The Case for Using Contract Attorneys In Pittsburgh, Pittsburgh Legal Journal, February, 1996 by Karl Schieneman and Brad Franc.
      %h1 PRESENTATIONS
      %br/
      %ul
        %li PBI's Employment Bar West - Keynote Session with Judge Nora Barry Fischer and Rick Lettieri What's New in E-Discovery on November 7th, 2012.  Pittsburgh, PA. 
        %li Gibbon's 6th Annual E-Discovery Conference.  Predictive Coding - What Is It and Can It Really Save Your Company Millions?  November 2nd, 2012.  New Jersey.  Presenting with Paul Neale, CEO, Doar Litigation Consulting & Expert in Da Silva Moore,  Andrew Kraftsow, Chief Scientist Renew Data and Mark Sidoti, Chair Gibbons E-Discovery Task Force.
        %li Women Bar E-Discovery Presentation on Predictive Coding:  Assisted in compiling a panel with national experts from Recommind, OrcaTec, Relativity and Autonomy as well as lawyers and Judge Nora Barry Fischer from the W.D. of PA.  November 1st, 2012.  Pittsburgh, PA.    
        %li ILTA - Pittsburgh Chapter - Predictive Coding Overview Nuts & Bolts by Karl Schieneman.  October 25th, 2012.
        %li The Chicago Association of Litigation Support Managers - Plenary E-Discovery Certifications: Mining Value in Murky Waters.  October 15th, 2012.  Chicago, IL.  
        %li Predictive Coding: It's Not Magic, Just Mathematics - by Karl Schieneman at Ulmer Berne CLE - Cleveland, OH.  September 27th, 2012. 
        %li ESIBytes Questionnaire & WorkShop on Early Adopters using Predictive Coding.  To be scheduled once the survey has been returned by all of the participants.  Fall 2012.  
        %li GOAL - Is The E-Discovery Industry Immune From Offshore Outsourcing - Ethics of LPO Work, Predictive Coding and Project Management - Karl Schieneman & Dean Medina, General Counsel, Complete Discovery Source.  September 20th, 2012, International Webinar.
        %li Looking Behind the Curtain: Offensive and Defensive e-Discovery Issues in Leasing/Lender Liability.  September 19th, National Webinar with Douglas Cherry, Esq. on behalf of LEAN, a national lender trade association . 
        %li Carmel Valley E-Discovery Retreat 2012 - lead 2 presentations on predictive coding and a judicial panel on validating predictive coding results.  July 22-24, 2012.  Carmel, California.
        %li Predictive Coding: Thinking Outside the (Black) Box - Presented CLE program at preeminent Chicago litigation law firm Barlit Beck Herman Palenchar & Scott.  June 15, 2012.  Chicago.  
        %li Seventh Circuit E-Discovery Pilot Program Workshop on Computer-Assisted Review.  Participated in a role play panel negotiating the use of computer-assisted review through a meet and confer process and hearing in front of Judge "Ralph Losey" on using predictive coding.  See www.DiscoveryPilot.com for video.  Drafted program's overview of Predictive Coding and tips for navigating through the Meet and Confer process.  June 14, 2012.  Chicago. 
        %li Global Litigation Web Conference - Litigation Services and Role of Legal Process Outsourcing Industry.  Presented on Predictive Coding & Top Things I Wish I Knew About E-Discovery.  March 21, 2012.  Webinar.  
        %li NY Model Complex E-Discovery Pilot Program.  Friends of E-Discovery.  March 14, 2012.  Pittsburgh
        %li Building a Defensible Program of Technology Assisted Review.  Legal IQPC 6th Annual eDiscovery Pharma, Biotech and Medical Device Industries.  October 24, 2011.  Philadelphia.
        %li Preservation and Predictive Coding.  American Corporate Counsel Association, W.D. of PA Chapter.  October 4, 2011.  Pittsburgh.
        %li Predictive Coding and the W.D. of PA E-Discovery Special Master Program.  Friends of E-Discovery.  June 1, 2011.  Pittsburgh.
        %li E-Discovery.  Pennsylvania Bar Institute.  E-Discovery Process.  December 9, 2008.
        %li BNA Legal & Business Edge - E-Discovery For the Enterprise Conference.  Managing Contract Attorneys.  September 18-19, 2008.  Review Protocols: Working Towards A More Efficient Review. Washington, DC.
        %li PBI E-Discovery Book Launch Presentations.  September 2008.  Pittsburgh and Philadelphia. 
        %li E-Discovery:  Real World Solutions and Practical Strategies in a Complex and Challenging Environment.  February 27-March 2, 2006.  Miami.
        %li The Legal & Strategic Guide to E-Discovery:  Best Practices for Corporate Counsel.  September 29-30, 2005.   New York City.
        %li Critical Update on Insurance Litigation (E-Discovery Section).  September 21-23, 2005.  New York City.
        %li The Best of Legal Technology (T-Bolt).  Conference Coordinator and Presenter.  April 18-19, 2005.  Pittsburgh.
        %li The Legal Strategic Guide to E-Discovery: Best Practices for Corporate Counsel.  April 7-8, 2005. San Francisco.
        %li ALA Legal Expo: The Nuts and Bolts of E-Discovery.  March 3, 2005.  Miami.
        %li The Corporate Counsel Guide to Minimizing Risk and Reducing Exposure.  Marcus Evans.  March 1-2, 2005.  New York City.
        %li Managing the 21st Century Law Office, by Altman Weil and Legal Network.  The Pittsburgh Legal Administrators Association.  October 10, 2001.  Pittsburgh.
        %li The Ethical and Legal Issues of Using Contract Attorneys: The Allegheny County Bar Association.  December 16, 1998.  Pittsburgh.
        %li Gaining A Competitive Advantage Using Contract Attorneys:  Financial Executives Institute, Pittsburgh, PA Nov 16th, 1998.  Pittsburgh.
