.container
  .row
    .span3
      -#
        = render :partial => 'shared/bio_links'
    .span9.offset3.page-text
      %h1 Document Review Innovation
      %br/
      %p.legible The biggest challenge in review is not finding lawyers to do the review. There are an abundance of attorneys for document review available at law firms, for temporary assignments, or offshore. The challenge is determining whether an attorney is suitable and skilled in doing document review and then training and managing them. We do all of this at an industry leading price point of $6 an hour markup for most review attorneys.
      = image_tag '/assets/bottled_water.gif', :size => '400x290'   
      %br/   
      %p.legible If contract attorneys were like bottled water, you would wonder why some cost much more than others. What is bottled in France or on an far off island and what is created just by just re-filtering tap water. From our perspective, the fancy brands today in document review are closer to tap water than exotic because the filtering is flawed. And our price point based on using a $6 hourly mark up for most of the contract attorneys we employ is fairer and lower because we have a process for identifying attorneys.  We create more value with our #{link_to 'ReviewRight<sup>TM</sup>'.html_safe, 'http://reviewright.com', :target => '_blank'} testing process by creating useful metrics for our clients on reviewer accuracy and speed before a project starts and filtering out attorneys whose ability we are unsure of.  Because of these processes, we are able to price our attorneys for less than other services without underpaying the attorneys.      
      %p.legible== #{link_to 'Contact', 'http://reviewright.com/contact', :target => '_blank'} our subsidiary #{link_to 'ReviewRight<sup>TM</sup>'.html_safe, 'http://reviewright.com', :target => '_blank'} to learn more about testing review attorneys and creating better document review teams. Review Right also offers review space, review training and review communication tools for document review teams across the United States.
