%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        = link_to(image_tag('logo2.png'), root_path)
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li= link_to t('home_html'), root_path
      %li= link_to "Review", document_review_path
      %li= link_to "Education", education_path
      %li= link_to "Predictive Coding", predictive_coding_path
      %li.has-dropdown
        %a{:href => "#"} Explore
        %ul.dropdown
          %li= link_to "Document Review Blog", 'http://www.docreviewmd.com', :target => '_blank'
          %li= link_to "E-Discovery Journal", 'http://www.ediscoveryjournal.com', :target => '_blank'
          %li= link_to "Predictive Coding Podcasts", podcasts_path
      %li
        %a{"data-reveal-id" => "aboutModal", :href => "#"} About